ServiceBusApplication/Calculadora/CalculadoraWS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="urn:CalculadoraWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:CalculadoraWS"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wcc="http://www.calculadora.com">
  <types>
    <xsd:schema targetNamespace="urn:CalculadoraWS/types" elementFormDefault="qualified"/>
    <xsd:schema>
      <xsd:import schemaLocation="Operacao.xsd" namespace="http://www.calculadora.com"/>
    </xsd:schema>
  </types>
  <message name="entrada">
    <part name="part" element="wcc:entrada"/>
  </message>
  <message name="saida">
    <part name="part" element="wcc:saida"/>
  </message>
  <portType name="CalculadoraSoap">
    <operation name="somar">
      <input message="tns:entrada"/>
      <output message="tns:saida"/>
    </operation>
    <operation name="subtrair">
      <input message="tns:entrada"/>
      <output message="tns:saida"/>
    </operation>
    <operation name="multiplicar">
      <input message="tns:entrada"/>
      <output message="tns:saida"/>
    </operation>
    <operation name="dividir">
      <input message="tns:entrada"/>
      <output message="tns:saida"/>
    </operation>
  </portType>
  <binding name="CalculadoraSoapSOAP11Binding" type="tns:CalculadoraSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="somar">
      <soap:operation style="document" soapAction="urn:CalculadoraWS/somar"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
    </operation>
    <operation name="subtrair">
      <soap:operation style="document" soapAction="urn:CalculadoraWS/subtrair"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
    </operation>
    <operation name="multiplicar">
      <soap:operation style="document" soapAction="urn:CalculadoraWS/multiplicar"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
    </operation>
    <operation name="dividir">
      <soap:operation style="document" soapAction="urn:CalculadoraWS/dividir"/>
      <input>
        <soap:body use="literal" parts="part"/>
      </input>
      <output>
        <soap:body use="literal" parts="part"/>
      </output>
    </operation>
  </binding>
</definitions>